<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs', {title: 'Resultados de tu búsqueda' }) %>

		<body>
			<!-- Header -->
			<%- include('partials/header.ejs') %>
				<!-- /Header -->
				<main class="home">

					<!-- Sección de productos -->
					<div class="section-cardsimperio1">
						<h2>Resultados de la búsqueda: <%= search %>
						</h2>

						<div class="cardsnproduct">

							<% if (result.length> 0 ) { %> <% result.forEach(product=> { %>
									<!--    <a href="/detalleDelProducto/<%- product.id %>"> -->
										<div class="cardimp"> 
											<div class="img-sectionimp">
												<img src="/images/products/<%- product.images[0]?.image %>" alt="puede contener un gran mueble de Imperio">
											</div>
											<div class="descripcionimp">
												<h2><% if (product.productName.length > 20) { %>
													<% let productoSlice = product.productName.slice(0,20) %> 
													  <%= productoSlice %>... 
												  
												  <% } else { %>
													<%- product.productName %>
													<% } %>
								</h2>
												<p>$ <%-product.price - product.price * product.discount / 100 %><b></b>
													<span id="off"><%- product.discount !== 0 ? `${product.discount}% OFF Antes $ ${product.price} ` : "" %></p>                    
											</div>
											<div class="button-group">
												<a href="/product/detail/<%= product.id %>" class="detalles">Ver detalles</a>
												<a href="/users/addToCart/<%- product.id %>" class="añadir">Añadir al carrito</a>
											</div>
											<br>
										   
										</div>
									<!-- </a> -->
									<% }); %>
										<% } else { %>
											<div class="dBlock">
												<h2 style="color: tomato">
													No hay productos que coincidan con esa búsqueda
												</h2>
												<div style="height: 250px;"></div>
											</div>
											<% } %>

						</div>
						<div class="arrow-top">
							<a href="#"><img src="/img/iconos-png/arrow-top.png" alt="" /></a>
						</div>
						
					</div>
				</main>

				<!-- Comienzo del footer -->
				<%- include('partials/footer.ejs') %>
					<!-- Fin del footer -->
		</body>

</html>