<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <h2>Carrito de compras</h2>
      <% if( cart.length> 0) { %>
      <div class="small-container cart-page">
        <table class="cart-container">
          <tr>
            <th class="th-cart">Producto</th>
            <th class="th-cart">Cantidad</th>
            <th class="th-cart">Subtotal</th>
          </tr> 
            <% let cartPriceTotal = 0 %>
              <% cart.forEach(product=> { %>
                <tr>
                  <td>
                    <div class="cart-info">
                      <img src="/images/products/<%- product.products.images[0].image %>" alt="" />
                      <div>
                        <p>
                          <%- product.products.productName %>
                        </p>
                        <small> $<%- product.products.price %> </small>
                        <br>
                        <form action="/users/deleteProductCart/<%- product.products.id %>?_method=DELETE" method="POST" style="display: inline;">
                          <button class="remove-product-cart" type="submit">
                            Eliminar
                          </button>
                        </form>
                        <a href="/product/detail/<%= product.products.id %>">
                          <button class="detail-product-cart" type="submit">
                            Detalle
                          </button>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td><input type="number" min="1" max="1" id="1" value="1"/></td>
                  <td>$<%- product.products.price %></td>
                </tr>
                <% cartPriceTotal = cartPriceTotal + product.products.price %>
              <% }) %>
        </table>

        <div class="total-price">
          <div class="button-clean">
            <a href="/productos">
              <button type="button">Seguir comprando</button>
            </a>
          </div>
          <table>
            <tr class="td-bold">
              <td>Total</td>
              <td>$<%- cartPriceTotal %></td>
            </tr>
          </table>
        </div>
        <form action="/product/cart/success/?_method=DELETE" method="POST">
          <div class="button-confirm">
            <button type="submit">Confirmar compra</button>
          </div>
        </form>
      </div>
      <% } else { %>
        <h2 class="no-products">No hay productos en su carrito</h2>
      <% } %>
    <%- include('../partials/footer.ejs') %>
  </body>

</html>