<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <div class="card-wrapper">
      <div class="card1">
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <% products.images.forEach(image => { %>
                <img src="/images/products/<%= image.image %>" alt="sofa image">
              <% }) %>
            </div>
          </div>
          <div class="img-select">
            <div class="img-item">
              <a href="#" data-id="1">
                  <img src="/images/products/<%= products.images[0].image %>" alt="sofa image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="2">
                <img src="/images/products/<%= products.images[1].image %>" alt="sofa image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="3">
                <img src="/images/products/<%= products.images[2].image %>" alt="sofa image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="4">
                <img src="/images/products/<%= products.images[3].image %>" alt="sofa image">
              </a>
            </div>
          </div>
        </div>

        <div class="product-content">
          <h2 class="product-title"><%= products.productName %></h2>
          <div class="product-price1">
            <p class="price">Precio: <span><%= products.price %></span></p>
          </div>

          <div class="product-detail">
            <p><%= products.description %></p>
            <ul>
              <li>Categoría: <span><%= products.category.name %></span></li>
              <li>Medidas: <span><%= products.measures %></span></li>
              <li>Origen: <span><%= products.origin %></span></li>
            </ul>
          </div>

          <div class="purchase-info">
            <input type="number" min="1" max="1" id="1" value="1">
            <a href="/users/addToCart/<%- products.id %>">
              <button type="button" class="btn">
                Añadir al carrito <i class="fas fa-shopping-cart"></i>
              </button>
            </a>
            
          </div>

          <div class="social-links">
            <p>Compartir</p>
            <a href="https://www.facebook.com/aquimuebles" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="http://www.twitter.com/muebleimperio" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://ar.pinterest.com/" target="_blank">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>