<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %> 

<body class="profile">
    <%- include('../partials/header.ejs') %>

    <div class="form-container">
        <h2 class="perfile">Mis datos</h2>
                 <div class="profile-box">
                    <h3 class="profile-subtitle">Avatar</h3>
                    <div class="avatar">
                        <img src="/images/usersAvatar/<%= user.avatar %>" alt="">
                    </div>
                </div>
                <div class="profile-form">
                    
                    <div class="profile-box">
                        <h3 class="profile-subtitle">Datos personales</h3>
                            <div class="input-container">
                                <div class="input-flex">
                                    <label for="">Email: </label>
                                    <p><%= user.email %></p>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-flex">
                                    <label for="">Nombre: </label>
                                    <p><%= user.name %></p>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-flex">
                                    <label for="">Apellido: </label>
                                    <p><%= user.lastname %></p>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-flex">
                                    <label for="">DNI: </label>
                                    <p><%= user.dni ? user.dni : "" %></p>
                                </div>
                            </div>
                    </div>
                    <div class="profile-box">
                        <h3 class="profile-subtitle">Datos de contacto</h3>
                        <div class="input-container">
                            <div class="input-flex">
                                <label for="">Teléfono: </label>
                                <p><%= user.tel ? user.tel : "" %></p>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="input-flex">
                                <label for="">Provincia: </label>
                                <p><%= user.province ? user.province : "" %> </p>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="input-flex">
                                <label for="">Localidad: </label>
                                <p><%= user.location ? user.location : "" %> </p>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="input-flex">
                                <label for="">Dirección: </label>
                                <p><%= user.street ? user.street : "" %></p>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="button-container">
                    <a href="/users/profile/edit/<%= user.id %>"><button class="btn btn-edit">Editar</button></a>
                    <div>
                        <label for="bad-btn-submit" class="btn btn-delete">Eliminar perfil</label>
                        <form id="formDelete" action="/users/profile/delete/<%= user.id%>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar tu cuenta?')">
                        <button id="bad-btn-submit" style="display:none" type="submit"></button>
                    </div>
                </div>
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
</html>